.env*
onboarding/config.php

# Dependencies
vendor/

# PHPMailer
onboarding/otp/PHPMailer/examples/

# Logs
*.log

# Editor
.vscode/

codedungeon_redirect.html
codedungeonbg_redirect.jpg
codedungeonlogo_redirect.png
cd_logo.webp

database/
landing_page/